{% extends "home/base.html" %}

{% block title %} Add Claim {% endblock %}

{% block body %}
<div class="user user-claim">
    <h2 class="text-center">Create a Claim</h2>
    <form class="form-group claim-form" method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="user-claim" class="form-label">{{ form.user.label }}</label>

                <div class="form-group">
                    <select name="user" id="user-claim"  class="form-control">
                        <option value="">Select User</option>
                        {% for user in all_users %}
                            <option value="{{ user[0] }}">{{ user[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% if form.user.errors %}
                <div class="text-danger">
                    {% for error in form.user.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.gender.label }}</label>
            <div>
                {% for choice in form.gender.choices %}
                    <div class="form-check form-check-inline">
                        <input type="radio" name="gender-{{ choice[0].lower() }}" id="gender-{{ choice[0].lower() }}" value="{{ choice[0] }}" class="form-check-input">
                        <label class="form-check-label">{{ choice[1] }}</label>
                    </div>
                {% endfor %}
            </div>
            {% if form.gender.errors %}
                <div class="text-danger">
                    {% for error in form.gender.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="user-age" class="form-label">{{ form.age.label }}</label>
            {{ form.age(class="form-control", id="user-age", readonly=True) }}
        </div>

        <div class="mb-3">
            <label for="diagnosis" class="form-label">{{ form.diagnosis.label }}</label>
            {{ form.diagnosis(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="hmo" class="form-label">{{ form.hmo.label }}</label>
            {{ form.hmo(class="form-control") }}
        </div>

        <h3>Service Details</h3>
        <div class="mb-3">
            <label for="service_date" class="form-label">{{ form.service_date.label }}</label>
            {{ form.service_date(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="service_name" class="form-label">{{ form.service_name.label }}</label>
            {{ form.service_name(class="form-control") }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.type.label }}</label>
            <div>
            {% for choice in form.type.choices %}
                <div class="form-check">
                <input type="radio" name="type" id="type-{{ choice[0].lower() }}" value="{{ choice[0] }}" class="form-check-input">
                <label class="form-check-label" for="type-{{ choice[0].lower() }}">{{ choice[1] }}</label>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="mb-3">
            <label for="provider_name" class="form-label">{{ form.provider_name.label }}</label>
            {{ form.provider_name(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="source" class="form-label">{{ form.source.label }}</label>
            {{ form.source(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="cost_of_service" class="form-label">{{ form.cost_of_service.label }}</label>
            {{ form.cost_of_service(class="form-control services", onkeyup="claim()") }}
        </div>

        <div class="row" id="service-div">
            <div class="form-group">
                <input type="button" class="btn btn-primary" id="add-service" value="Add Another Service">
            </div>
        </div>

        <h3>Summary</h3>
        <div class="mb-3">
            <label for="total-cost" class="form-label">{{ form.total_cost.label }}</label>
            {{ form.total_cost(class="form-control", id="total-cost", readonly=True) }}
        </div>

        <div class="mb-3">
            <label for="service-charge" class="form-label">{{ form.service_charge.label }}</label>
            {{ form.service_charge(class="form-control", id="service-charge",readonly=True) }}
        </div>

        <div class="mb-3">
            <label for="final-cost" class="form-label">{{ form.final_cost.label }}</label>
            {{ form.final_cost(class="form-control", id="final-cost",readonly=True) }}
        </div>

        <input type="submit" class="btn btn-success" value="Create Claim"/>
    </form>
</div>

<script src="{{ url_for('static', filename='js/claim.js') }}"></script>
{% endblock %}
